/* for calendar styles */

#calendar-date {
  text-align: center;
  margin-block: 0.5rem;
}

.day {
  display: grid;
  grid-template-columns: 1fr 1fr 15px;
  grid-template-rows: repeat(3, 15px);
  align-items: center;
  position: relative;
  background-color: rgb(139, 139, 139);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.day:hover,
.day:focus {
  background-color: rgba(0, 0, 0, 0.5);
  color: antiquewhite;
  cursor: pointer;
}

.todoBadge {
  grid-column: 3 / 4;
  grid-row: 1 / span 2;
  border-radius: 100%;
  font-size: clamp(0.25rem, 3vw, 0.85rem);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  margin-right: 4px;
}

#calendar-container ul li {
  border: none;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.75);
  color: antiquewhite;
  font-size: clamp(0.25rem, 2vw, 0.85rem);
  padding-block: 0.5em;
  text-align: center;
  font-weight: 700;
}

.emptyDay {
  background: none;
}

.dd {
  grid-column: span 2;
  grid-row: span 2;
  text-align: center;
  font-size: clamp(0.25rem, 5vw, 1.5rem);
}

.holiday,
.day p:nth-child(2) {
  color: red;
  font-size: clamp(0.25rem, 2vw, 0.65rem);
  font-weight: 700;
  text-shadow: 1px 1px 2px black;
  grid-column: span 3;
  grid-row: 3 / 4;
  text-align: center;
}

#monthAndYear {
  text-transform: uppercase;
  color: white;
  text-align: center;
}
