.sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 2rem;
}

#todosForDayContainer {
    margin-top: 1rem;
    padding: 1rem;
    width: 90%;
    height: 100%;
    text-align: center;
}

#todosForDayContainer ul {
    margin-top: 1rem;
}

#todosForDayContainer li {
    border-bottom: 3px solid rgba(255, 255, 255, 0.315);
    padding-bottom: 1em;
    margin-block: 2em;
    color: white;
}

#todosForDayContainer h2{
    margin-bottom: 1rem;
}

#listOfTodos button {
    margin-left: 2rem;
    background-color: transparent;
    border-style: none;
    font-size: 1.5rem;
    color: white;
}

#listOfTodos #text{
    font-size: 3rem;
}