/* Base */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

ul,
li {
  list-style: none;
}

.gridContainer {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.showDailyView .gridContainer {
  /* 10x12 container */
  grid-template-areas:
    'h h h h h h h h h h'
    'h h h h h h h h h h'
    's s s s s s s s s s'
    's s s s s s s s s s'
    's s s s s s s s s s'
    's s s s s s s s s s'
    's s s s s s s s s s'
    's s s s s s s s s s'
    's s s s s s s s s s'
    's s s s s s s s s s'
    's s s s s s s s s s'
    'f f f f f f f f f f';
}

body.showCalendarView .gridContainer {
  /* 10x12 container */
  grid-template-areas:
    'h h h h h h h h h h'
    'h h h h h h h h h h'
    'm m m m m m m m m m'
    'm m m m m m m m m m'
    'm m m m m m m m m m'
    'm m m m m m m m m m'
    'm m m m m m m m m m'
    'm m m m m m m m m m'
    'm m m m m m m m m m'
    'm m m m m m m m m m'
    'm m m m m m m m m m'
    'f f f f f f f f f f';
}

body.showCalendarView .sideBar {
  display: none;
}

body.showDailyView .calendar {
  display: none;
}

.calendar {
  grid-area: m;
  background-color: rgba(59, 59, 59, 0.75);
  padding: 1em;
  backdrop-filter: blur(2px);
}

.calendar ul,
.calendar ol {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5em;
}

.sideBar {
  grid-area: s;
  background-color: rgba(0, 0, 0, 0.75);
}

.header {
  grid-area: h;
  color: white;
  text-align: center;
}

footer {
  grid-area: f;
  width: 100vw;
}

#footerContainer {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  justify-content: center;
}

#footerContainer button {
  width: 50%;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#footerContainer button::before {
  font-size: 2rem;
}

/* Laptop */
@media screen and (min-width: 1024px) {
  body.showCalendarView .gridContainer,
  body.showDailyView .gridContainer {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 1fr);
    /* 10x12 container */
    grid-template-areas:
      'h h h h h h h h h h'
      'h h h h h h h h h h'
      's s s m m m m m m m'
      's s s m m m m m m m'
      's s s m m m m m m m'
      's s s m m m m m m m'
      's s s m m m m m m m'
      's s s m m m m m m m'
      's s s m m m m m m m'
      's s s m m m m m m m'
      's s s m m m m m m m'
      'f f f f f f f f f f';
  }

  body.showCalendarView .calendar,
  body.showDailyView .calendar {
    display: grid;
    grid-template-rows: min-content;
  }

  body.showCalendarView .sideBar,
  body.showDailyView .sideBar {
    display: flex;
  }

  #footerContainer {
    display: none;
  }
}
