.toDoContainer{
    background-color: #00000036;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
}

#toDoForm{
    display: flex;
    flex-direction: column; 
    gap: 2rem;
    width: 30vw;
}

#toDoForm input{
    height: 30vh;
}

button{
    padding: 1rem;
}